<div class="bg-background-light dark:bg-background-dark text-slate-800 dark:text-slate-200 min-h-screen">
  <app-nav-bar></app-nav-bar>

  <main class="flex-1 max-w-5xl mx-auto w-full px-6 py-16">
    <app-name-container></app-name-container>
    <app-task-list></app-task-list>
    <app-task-toolbar></app-task-toolbar>
    <app-task-card></app-task-card>
  </main>

  <app-footer></app-footer>
</div>

<!-- <app-sign-up></app-sign-up>
<app-login-in></app-login-in>   

<app-main-page></app-main-page>
<app-main-page2></app-main-page2>
 <app-main-page3></app-main-page3>  -->